.content1 {
    display: flex;
    justify-content: left;
    margin: 3vw 3vh;
    align-items: center;
    border-radius: 8px;
    z-index: 1;
    background-image: url("media/bg-2.jpg");
	background-repeat: none;
	background-size: 100%;
}

.content1 img {
    max-height: 500px;
    max-width: 500px;
    margin: 4vh;
}

.call {
    box-shadow: 2px 2px 16px black;
    background-color: white;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    height: 64px;
    width: 170px;
    margin-bottom: 3vh;
}

.content1 .text-content .call img {
    margin: 0.5vw;
    max-height: 30px;
    max-width: 30px;
}

.content1 .text-content .call p {
    margin-left: 0.5vw;
    text-shadow: none;
    color: #829BA6;
}



@media only screen and (max-width: 830px) {
    .content1 {
        display: block;
        background-color: white;
        background-image: none;
        margin: 1vh;
        text-align: left;
        color: black;
        padding: 3vh 1vw;
    }

    .content1 .text-content .call img {
        margin-left: 1vw;
    }

    .content1 .text-content h1 {
        text-shadow: none;
        color: black;
    }

    .content1 .text-content p {
        color: black;
        text-shadow: none;
    }

    .content1 .logo {
        display: none;
    }
}

.content1 h1 {
    color: white;
    text-shadow: 2px 2px 16px black;
}

.content1 p {
    color: white;
    text-shadow: 2px 2px 12px black;
}

.text-content {
    margin-left: 3vw;
    margin-right: 10vw;
}