.content1 {
    display: flex;
    justify-content: center;
    margin: 3vw 3vh;
    align-items: center;
}

.content1 img {
    max-height: 800px;
    max-width: 800px;
}

.call {
    display: block;
    margin: 0;
    background-color: #829BA6;
    border-radius: 6px;
    float: left;
}

.call p {
    padding: 0 1vw;
    text-align: center;
    color: white;
}

@media only screen and (max-width: 600px) {
    .content1 {
        display: block;
        text-align: center;
    }
    .call {
        text-align: center;
        justify-content: center;
    }
    .content1 img {
        max-height: 300px;
        max-width: 300px;
    }
}